<mat-toolbar class="coolToolBar">
	<h2>
		<span class="sizeOfLargerText">C</span><span class="smallerTitle">ONTACT</span>
	</h2>
</mat-toolbar>  

<div class='socialMediaContainer'>
	<ul class='listSocialMedia'>
		<li class="individualSocialMedia">
			<a href="tel:0452241945" class="linkSocialMedia">
				<i class="material-icons">phone</i>
				Phone: 0452 241 945
			</a>
		</li>
		<li class="individualSocialMedia">
			<a href="mailto:cmgrams@{{gmail2}}" class="linkMessageTrad">
				<i class="material-icons">email</i>
				<span class="showE" data-user="cmgrams" data-website="gmail.com">{{gmail}}@smargmc</span>
			</a>
		</li>
		<li class="individualSocialMedia">
			<a class="linkLinked" href="http://www.linkedin.com/in/caleb-grams" target="_blank">
				<i class="material-icons pinkIcon">linked_camera</i>
				LinkedIn
			</a>
		</li>		
	</ul>
</div>
 
<div class="contactContainer">
	<app-form></app-form>
</div>