svg#moveSVGup {
    position: relative;
    bottom: 30px;
    stroke-width:20;
    fill: url(#radialCode);
    transition: all 1s ease;
    border: 2px solid white;
    height: 250px;
}

svg#moveSVGup:hover{
	fill: red;
	stroke: white;
	stroke-width: 50px;
    background: #170808;
}