@media all and (max-width: 1050px) { 
	.inputSection{
		padding: 5px 0;
		display: flex;
		justify-content: space-between;
	}
}
 
.validRequire {
    font-style: italic;
    font-size: 14px;
    padding-top: 2px;
}
.form-control{
	color: grey;
	font-size: 14px;
}
.inputSectionCacher{
	display: none;
}

form div input {
    float: right;
}

.inputSection {
    padding: 5px 0;
}
input#firstName, input#lastName, input#emailField {
    width: 400px;
}
div#thnkYouContainer {
    opacity: 0;
}
.submitButton{
	background-color: white;
	width: 100%;
}
textarea#textParaField {
    width: 99%;
}
.submitButton span{
	color: black;
	text-decoration: none;
}
.borderOne{
	padding: 100px;
}

.form-control.ng-touched.ng-invalid {
	border: 2px solid red;
}