<img src="../assets/profileMobilePic.png" class="mobilePicProfile" alt="Dapper and in vibrant colour: picture of CG with glasses and buisness suit.">

<div class="bioContainer">
	<h2 class="aboutTitleH2">
		<span class="sizeOfLargerText">A</span><span class="smallerTitle">BOUT </span> <span class="sizeOfLargerText">M</span><span class="smallerTitle">E</span>
	</h2>


	<div class="thingsILikeContainer">
		<h3>I like: </h3>
		<ul class="thingsIlikelist">
			<li>
				<i _ngcontent-c2=""  class="material-icons" matTooltip="Dogs">
					pets
				</i>										
			</li>
			<li>
				<i class="material-icons" matTooltip="Travel">
				flight_takeoff
				</i>				
			</li>
			<li>
				<span _ngcontent-c2="" class="pokerIcon" style="color:white;" matTooltip="Poker">♣</span>
			</li>
			<li>
				<div id="cricketContainer" matTooltip="Cricket">
				<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 1000 1000" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
				
				<g _ngcontent-c2="" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
					<path _ngcontent-c2="" d="M9277.7,4991.7c-153.2-55.5-296.8-252.8-296.8-407.9c0-40.2-201.1-250.8-1022.5-1072.3L6935.9,2489l-225.9,84.3c-183.8,67-252.8,84.2-352.3,84.2c-247,0-9.6,220.2-3272.4-3040.7C121.1-3349.3,111.5-3358.8,101.9-3445c-32.5-292.9,350.4-827.2,821.5-1141.2c275.7-181.9,459.6-235.5,585.9-168.5c28.7,15.3,1384.4,1361.4,3013.9,2992.8l2962.2,2964.1l30.6,113c44,153.2,30.6,250.8-67,517l-84.3,224l1024.4,1024.4c779.3,779.3,1034,1022.5,1068.5,1022.5c220.2,0,442.3,231.7,442.3,459.6c0,120.6-44,218.3-143.6,315.9C9618.5,5018.5,9455.8,5056.8,9277.7,4991.7z"></path><path _ngcontent-c2="" d="M4636.2-3127.1c-151.3-40.2-277.6-114.9-386.8-231.7c-308.3-327.4-308.3-832.9,0-1160.4c402.1-425.1,1095.3-314,1357.6,214.5c68.9,141.7,70.8,147.4,70.8,365.7c0,218.3-1.9,224-72.8,367.6c-76.6,157-222.1,310.2-360,381.1C5065.1-3100.3,4829.6-3075.4,4636.2-3127.1z"></path>
				</g>
				
				</svg>
				</div>	
			</li>			
		</ul>
	</div>

	<article>
		<p>
		Originally from Canada, I have landed down under with <span class="boldText">Australian Permanent Resident</span> status.
		</p>
		<p>
		While in Canada I worked in the Oil and Gas industry setting up remote data analysis centers for directional drilling. My role was to get the data from the drill in the well to all the relevant departments. To do this I would set up the drill electronics and the communication devices that received the data. I would then have to create reports and manage the data collection programs in the command center.
		</p>
		<p>
		In both Canada and Australia I have worked as a Technology Teacher teaching students technology skills. I have worked for both high-schools and private companies teaching programming to teenagers. As a result I know how to communicate with people to help them understand technology.
		</p>
		<p>
		I began doing web development in 2014 and I have since worked in various agencies. Most recently I completed an 11 month contract for the Australian Bureau of Meteorology. In total I have <span class="boldText">3 years of studio experience</span>. I'm focused on continuing my skill development and I am most excited about JavaScript frameworks like Angular 7.
		</p>
	</article>

</div>