<h2 id="lineHistoryTitle">
	<span class="sizeOfLargerText">E</span><span class="smallerTitle">MPLOYMENT </span> <span class="sizeOfLargerText"> G</span><span class="smallerTitle">RAPH</span>
</h2>

<div class="lineHistoryPadding">
	<div class="yearContainer">
		<span class="triangle1">&#9660;</span>
		<span class="triangle2">&#9660;</span>
		<span class="triangle3"> &#9660;</span>
		<ul class="yearBolck">
			<li class="oneYearText">{{yearsList.firstYear}}</li>
			<li class="twoYearText">{{yearsList.secondYear}}</li>
			<li class="threeYearText">{{yearsList.thirdYear}}</li>	
		</ul>
	</div>

	<div class="metaListJobsContainer">

	<hr class="timeLineLine" />

		<ul class="listOfJobs jobsContainer">
			<li class="punchD">PD</li>
			<li class="melbourneIT">Melbourne IT</li>
			<li class="impressPhotos">Impress</li>
			<li class="vTech">V-Tech</li>
			<li class="roi">ROI</li>
			<li class="soNet">SoNet</li>
			<li class="bom">Bureau of Meteorology</li>
		</ul>

	</div>
</div>

<div id="fadeInScroll" class="hiddenContainer" [@fadeCurtain]='state'>
	<div class="hiddenReveal" id="toFadeOutCurtain"></div>
	<div class="hiddenReveal2" id="toFadeOutCurtain2"></div>
</div>

<div class="mobileLineHistory">
	<ul class="mobileList">
		<li class="punchDMobile">PD</li>
		<li class="melbourneITMobile">Melbourne IT</li>
		<li class="impressPhotosMobile">Impress</li>
		<li class="vTechMobile">V-Tech</li>
		<li class="roiMobile">ROI</li>
		<li class="soNetMobile">SoNet</li>
		<li class="bomMobile">Bureau of Meteorology</li>
	</ul>
</div>